@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



header{
    height: 119vh;
    width: 100%;
   
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}
.nav-iteam{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 10px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    list-style-type: none;
    
    
    
    
}

nav ul a{
    text-decoration: none;
    
}
.nav-title{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-style: italic;
}
.heading{
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background-color: rgb(34, 34, 34);
}
.header-content{
    display: flex;
    justify-content: space-around;
    gap: 60px;
}
.shape{
    font-weight: 400;
    font-size: 100px;
    font-family: 'Miama', sans-serif;
}
.home{
    height: 40px;
    width: 80px;
    border-radius: 30px;
    background: rgb(230, 83, 60); 
    
    padding: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    
   
}
.sub-span{
    position: absolute;
    margin-top: 80px;
    margin-left: -360px;
}
.sub-span-2{
    position: absolute;
    margin-top: -50px;
    
}

.common-btn{
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.header-content-description{
    width: 450px;
    height: 281px;
    /* margin-top: 200px; */
    margin-left: 70px;
}
.header-content-title{
    color: white;
    font-weight: 900;
    font-size: 70px;

}


.header-content-details{
    color: rgba(255, 255, 255);
    opacity: 0.5;
    font-size: 14px;
}
.btn1{
    background-color: rgb(230, 83, 60);
    border-radius: 40px;
    border: none;
    height: 45px;
    width: 180px;
    color: white;
}
.btn2{
    background-color: black;
    border-radius: 40px;
    border: 1px solid white;
    height: 45px;
    width: 180px;
    color: white;

}
.header-card{
    width: 180px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 170px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.header-card1{
    width: 180px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    top: 430px;
    margin-left: -70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-items: center;
    padding-left: 10px;
    
   
    
    
}
.banner{
    position: relative;
}
.play-icon{
    display: none;
}
.circle{
    height: 30px;
    width: 30px;
    background-color: rgb(230, 83, 60);
    border-radius: 100%;
    
}
.card1-title{
    color: white;
    font-size: 14px;
    font-weight: 900;
}
.card2-title{
    font-size: 20px;
    font-weight: 900;
    color: white; 
   

}
.card-details{
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
}
.bar{
    color: rgb(255, 255, 255);
    display: none;
    
}
body{
    background-color: #000000;
    width: 100%;
    margin: 0px;
   
}

.habit{
    width: 100%;
}
.habits{
    width: 100%;
    height: 452px;
    margin: auto;
    gap: 40px;
    margin-top: 50px;
}
.habits-title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
.habits-descrip{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.common-habits-descrip{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.common-img{
    border-radius: 100%;
}
.common-habits-div{
    width: 231px;
    height: 274px;
}
.common-habits-title{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
.habits-start{
    text-align: center;
}
.four-habits{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.run-img{
    width: 366px;
    height: 310px;
    /* padding-top: 30px; */
    margin-top: 30px;
    border-radius: 18px;
}
.running{
    width: 100%;
    margin-left: 0px;
    
}
.run{
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 40px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: auto;
}
.run-des{
    width: 443px;
    height: 290px;
}
.run-ig{
    width: 366px;
    height: 312px;
}
.unique{
    background-image:linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.500),rgba(0, 0, 0, 0.50)) , url(../images/exercise4.png);
    width: 100%;
    
    height: 100vh;
}
.unique-div{
    width: 231px;
    height: 550px;
    background-color: rgb(34, 34, 34) ;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;

}
.unique-img{
    width: 231px;
    height: 200px;
    border-radius: 10px;
}
.unique-main{
    display: flex;
    justify-content: space-around;
}
.bmi-start{
    text-align: center;
}
.bmi-calculation{
    width: 100%;
    height: 90vh;
    background-color: rgb(34, 34, 34) ;
}
.bmi-heading{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}
.class-bmi-part2{
    width: 500px;
    height: 386px;

}
.bmi-des{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.bmi-calculation{
    display: flex;
    justify-content: space-around;
}
.activity{
    width: 395px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}
.common-input{
    width: 190px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;

}
.common-option{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}
.sex{
    width: 195px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    
}
th{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
}
table{
    border-collapse: collapse;
    
}
.bmi-table{
    height: 300px;
}
.team{
    width: 100%;
}
.team-members{
    width: 920px;
    height: 520px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    margin: auto;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3,1fr);
}
.team-div{
    width: 300px;
    height: 252px;
    border-radius: 18px;
    margin: auto;
    
}
.member-1{
    border-radius: 18px;
    background-image: url(../images/trainer1.png);
    width: 300px;
    background-size: cover;

}
.member-2{
    border-radius: 18px;
    background-image: url(../images/trainer2.png);
    background-size: cover;

}
.member-3{
    border-radius: 18px;
    background-image: url(../images/trainer3.png);
    background-size: cover;

}

.member-4{
    border-radius: 18px;
    background-image: url(../images/trainer4.png);
    background-size: cover;
    background-position: center;

}
.member-5{
    border-radius: 18px;
    background-image: url(../images/trainer5.png);
    background-size: cover;

}
.member-6{
    border-radius: 18px;
    background-image: url(../images/trainer6.png);
    background-size: cover;
    

}
.trainer-name{
    color: white;
    font-size: 20px;
}
.trainer-type{
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.trainer-content{
    margin-top: 160px;
    margin-left: 15px;
}
.foot{
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 409px;
}
.footr-head{
    width: 443px;
    height: 176px;
}
.start{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}
.options{
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
}
.option-ul{
    list-style: none;
    padding: 5px;
    padding-top: 5px;
    
}
.option-ul li{
    margin-top: 10px;

}
.op{
    width: 281px;
    height: 249px;
}
.fitness-head{
    width: 400px;
    height: 176px;
}
.end{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
}
.end-div{
    margin-top: 50px;
    margin-left: 450px;
    
    
}
.hr{
    width: 980px;
    background-color: gray;
    opacity: 0.3;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}
.footer-a{
    display: flex;
    gap: 15px;
}

@media screen and (max-width:576px){
    .navbar{
        display: none;
    }
    .bar{
        display: block;
    }
    .header-content{
        flex-direction: column;
        justify-items: center;
        gap: 350px;
        align-items: center;
    }
    header{
        height: 246vh;
        width: 100%;
       
    }

    .sub-span{
        margin-left: 0px;
        margin-top: 80px;
        position: relative;
    }
    .header-content-title{
        color: white;
        font-weight: 700;
        font-size: 40px;
    }


    .header-content-description{
        width: 450px;
        height: 281px;
        /* margin-top: 200px;
        margin-left: 70px; */
    }

    .header-content{
        flex-direction: column;
        justify-content: space-around;
        gap: 60px;
        
    }
   
    .habits-start{
        flex-direction: column;
    }
    .four-habits{ 
        flex-direction: column;
        gap: 20px;
    
    }

    .habit{
        width: 100%;
    }
    .habits{
        
        gap: 40px;
        /* margin-left: -250px; */
        margin-top: 50px;
        
    }
    .habits-descrip{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
       
    }
    .run{
        width: 100%;
        height: 160vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        margin-top: 1000px;
    }
    .running{
        width: 100%;
        margin-left: -0px;
    }
    .run-des{
        align-items: center;
        text-align: center;
    }
    .unique-main{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .unique{
        height: 405vh;
        /* background-repeat: no-repeat;
        background-size: 100% 100%; */
        background-image: none;
    }
    .bmi-calculation{
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        height: 220vh;
        width: 100%;
        
        
    }
    .bmi-part2{
        margin-left: 20px;
        
        
    }
    .bmi-part1{
        margin-left: 20px;
       
        
    }
    
    
    .bmi-froms{
        width: 100%;
    }
    .sub-span{
        position: absolute;
        margin-top: 90px;
        margin-left: -250px;
    }
    .sub-span-2{
        position: absolute;
        margin-top: 0px;
        
    }
    .common-input{
        width: 250px;
    }
    .sex{
        width: 255px;
    }
    .activity{
        width: 515px;
    }
    .run-des{
        text-align: left;
    }
    .join1{
        width: 450px;
        font-size: 20px;
    }
    .run-img{
        width: 450px;

    }
    .team-members{
        width: 450px;
        height: 400vh;
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        margin: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .team-div{
        width: 400px;
        height: 272px;
        border-radius: 18px;
        background-size: cover;
        
       
    }
    .team-start{
        width: 400px;
        align-items: center;
    }
    .footer{
        flex-direction: column;
        
        margin-left: 25px; 
    }
    .footer-a{
        flex-direction: column;
        gap: 15px;
    }
    .foot{
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 200vh;
    }
    .hr{
        width: 500px;
    }
    .end-div{
        margin-top: 40px;
        margin-left: 150px;
        
        
    }
    .play-icon{
        display: block;
        
    }
    .icon{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 5px;
    }
   

}


